.header{
    background-color: whitesmoke;
    padding: 20px 75px 20px 75px;

}

.header a:nth-child(3){
    float: right;
}
.header a:nth-child(2){
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-weight: lighter;
    margin: 50px 0 50px 75px;
}

.intro{
    margin: 0 20% 5% 20%;
}
.intro p:nth-child(1){
    margin: 50px 0px 30px 0px;
    font-size: 24px;
    
}
.intro p:nth-child(2){
    margin: 0px 0px 10px 0px;
    font-size: 20px;
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 2px;
    margin-bottom: 5%;
}
.container_item img{
    width: 100%;

}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}
.selection{
    display: none;
    z-index: 3;
}
#selection_background{
    opacity: 0.75;
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translate(0,-50px);
    background-color: black;

}
#selection_image img{
    opacity: 1;
    position: fixed;
    width: 52%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px black;

}
.left{
    height: 50px;
    position: fixed;
    top: 50%;
    margin-left: 15px;
    transform: translate(0,-50%);
}
.right{
    position: fixed;
    height: 50px;
    left: calc(100% - 15px);
    transform: translate(-100%,-50%);
    top: 50%;
}